<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Site</title>
</head>
<body>
<h1>Well</h1>
<h2>Your drinks: </h2>
<div th:each="coffee : ${coffeeMachine}">
    <a th:href="@{/coffeeMachine/index/{id}(id=${coffee.getId()})}"
       th:text="${coffee.getId() + ', ' + coffee.getNameOfTheDrink()}">user</a>
</div>

<br/>
<form th:method="GET" th:action="@{/coffeeMachine/mainPage}">
    <input type="submit" value="Go back"/>
</form>
<br/>
<hr/>

</body>
</html>
