<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login page</h1>
<form th:action="@{/login}" th:method="POST">
    <div>
        <label for="username">Enter your username: </label>
        <input type="text" id="username" name="username" />
    </div>
    <br>
    <div>
        <label for="password">Enter your password: </label>
        <input type="password"  id="password" name="password" placeholder="Enter Password" />
    </div>
    <div>
        <div class="checkbox">
            <label for="remember-me"><input type="checkbox" id="remember-me" name="remember-me">
                Remember Me</label>
        </div>
    </div>
    <div>
        <input type="submit" value="Log in">
    </div>
</form>
</body>
</html>