<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]] </h1>
<h2>Actions you can perform:</h2>
<ul>
    <li><!--sec:authorize="hasRole('ROLE_ADMIN')"--><a href="/coffeeMachine/new">Create new drink</a></li>
    <li><a href="/coffeeMachine/index">Show all drinks</a></li>
    <li><a href="/coffeeMachine/indexRequest">Show request drinks (sortOfCoffee = 'arabica' OR
        sortOfCoffee = 'Arabica' AND kindOfMilk = 'soy milk' OR kindOfMilk = 'Soy milk'
        AND amountOfDrink >= 0.5 AND amountOfDrink <=1.0)</a></li>
</ul>
<p sec:authorize="hasRole('ROLE_ADMIN')">
    The Update and Delete functions can be found inside the object references in Show All Drinks
</p>
<!--<a href="/logout">Logout</a>-->
</body>
</html>